
  <ul class="faul">
<p class="lead"><h4>Links</h4></p>


{% if site.linkedin_username %}

   <a href="http://{{ site.linkedin_username }}.linkedin.com" data-toggle="tooltip" title="LinkedIn" style="
color:#877070;font-size:1em;text-decoration:none;">
         <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>

                        </a>

                   {% endif %}


                   {% if site.github_username %}

  <a href="https://github.com/{{ site.github_username }}" data-toggle="tooltip" title="Github" style="
color:#877070;font-size:1em;text-decoration:none;">
        <span class="fa-stack fa-lg">
           <i class="fa fa-square fa-stack-2x"></i>
             <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>


                  {% endif %}




                    {% if site.facebook_username %}

                        <a href="https://www.facebook.com/{{ site.facebook_username }}" data-toggle="tooltip" title="Facebook" style="
color:#877070;font-size:1em;text-decoration:none;">
         <span class="fa-stack fa-lg">
           <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>

                        </a>

                    {% endif %}



{% if site.instagram_username %}

   <a href="https://instagram.com/{{ site.instagram_username }}" data-toggle="tooltip" title="Instagram" style="
color:#877070;font-size:1em;text-decoration:none;">
         <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>


                   {% endif %}




                   {% if site.twitter_username %}

<a href="https://twitter.com/{{ site.twitter_username }}"  data-toggle="tooltip" title="Twiiter" style="
color:#877070;font-size:1em;text-decoration:none;">
    <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>

                     </a>

                 {% endif %}


    <a href="mailto:bryant.engineering@gmail.com" data-toggle="tooltip" target="_blank" title="Email" style="
color:#877070;font-size:1em;text-decoration:none;">
      <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i></span>
    </a>


                </ul>
